<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <div *ngIf="connectedUser">
    <h2 class="text-xl font-bold mb-4">Demandes de collecte - {{ connectedUser.adresse }}</h2>

    <div class="overflow-x-auto">
      <table class="w-full table-auto border-collapse">
        <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2 text-left">Demande</th>
          <th class="px-4 py-2 text-left">Poids</th>
          <th class="px-4 py-2 text-left">Statut</th>
          <th class="px-4 py-2 text-left">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of filteredRequests">
          <td class="px-4 py-2">{{ request.typeDechets.join(', ') }}</td>
          <td class="px-4 py-2">{{ request.poids }} kg</td>
          <td class="px-4 py-2">
              <span class="inline-block px-2 py-1 text-sm font-semibold rounded-full
                {{ request.statut === 'validée' ? 'bg-green-200 text-green-800' :
                   request.statut === 'rejetée' ? 'bg-red-200 text-red-800' : 'bg-yellow-200 text-yellow-800' }}">
                {{ request.statut }}
              </span>
          </td>
          <td>
            <button  (click)="updateRequest(request)" class="bg-blue-500 text-white px-4 py-2 rounded-lg mr-2">Modifier</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
